<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-button slot="start" (click)="closeModal()" fill="outline">
          <ion-icon name="return-down-back-outline"></ion-icon>
      </ion-button>
      <ion-title>Sacar</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content>

    <ion-list class="ion-margin-top">
        <ion-label class="ion-margin">Valor em conta</ion-label>
        <ion-item slot="start">
            <ion-icon name="cash-outline" class="icon-carteira"></ion-icon> &nbsp;
          <ion-label> R$ 30,00 </ion-label>
        </ion-item>
    </ion-list>

    <ion-item class="ion-margin">
        <ion-label position="floating">Valor de Saque</ion-label>
        <ion-input type="number"></ion-input>
    </ion-item>


    
    <ion-button expand="block">Sacar</ion-button>

</ion-content>
